@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    height: 100vh;
    width: 100%;
}

/* navigation section styling */
#mainNav {
    position: fixed;
    background-color: rgb(244, 244, 244);
    background-size: cover;
    display: flex;
    align-items: center;
    width: 100%;
    z-index: 10;
    /* height: 15vh; */
    margin: 0;
    padding: 0;

}

.logo_head {
    float: left;
    height: 60px;
    width: 70px;
    padding-left: 20px;
    margin: 0;
}

#navbar {
    background-color: rgb(244, 244, 244) !important;
    width: 100%;
    height: inherit;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  
  .nav-item {
    margin: 0px 15px;
  }

#mainNav a{
    color:  rgb(14, 48, 37)!important;
    font-weight: 700px;
   
  }

  #mainNav a:hover,
  #mainNava:focus {
    color: rgb(218, 205, 33) !important;
    font-weight: 700px;

}

/* search section css */
#quote{
    color: #1a6c51;
    text-align: center;
    margin: auto;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-style: italic;
}

#section1{
    display: flex;
    flex-direction: column;
    text-align: center;
    border: none;
    
}

#form{
    display: flex;
    flex-wrap: wrap;
    width: 100% ;
}

#search-input{
    display: block;
    width: 100%;
    margin: 0 30%;
    height: 80px;
    background-color: #f0f8ff;
    border: 2px solid #1a6c51;
    border-radius: 60px;
    color: black;
    padding: 0 10px;
    
    
}

#groupId{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 20px auto;
    padding: 0;
    text-align: center;
   
}
#search-button{
    background-color: #1a6c51;
    color: white;
    font-size: 40px;
    font-weight: bold;
    border-radius: 40px;
     }

.database{
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.nutrient{
    display: flex;
    flex-direction: column;
   
   
   }
   #list-of-forecast{
    /* margin: auto; */
    width: auto !important;
    align-items: center;
    color: #1a6c51;
    border: #1a6c51;
    
   }

   #list-of-forecast h1{
    text-transform: uppercase;
   }

   #list-of-forecast p{
    font-size: 20px;
    padding: 5px;
    text-align: center;
}

/* footer styling */
.footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 0;
}

#display {
    margin-left: auto;
    list-style: none;
    border: none;
}

#display h5 {

    color: rgb(10, 65, 65) !important;
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#display li,
h5 {
    text-align: center;
    border: none;
    color: rgb(10, 65, 65) !important;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


#copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: rgb(10, 65, 65) !important;
    font-size: 30px;
}

#copy a {
    text-decoration: none;
    color: rgb(10, 65, 65) !important;
}