/* nav styling */

#nav{
    display: flex;
   width: 100%;
    position: fixed;
    height: 20vh;
    background-color:rgb(6, 7, 7);
     z-index: 10;
    background-size: cover;
        
}
.mainNav{
    padding-top: 20px;
}

.logo_head{
    position: relative;
    top: 50px;
    height: 15vh;
    width: 20vh;
   
}

#nav a{
  color: rgb(5, 96, 96);
  /* font-size: 30px; */
 
  
}

#nav a:hover, #nav a:focus{
  color: rgb(218, 205, 33) !important;
  font-weight: 600px;
  
}


.navbar-nav {
  margin-left: auto;
  margin-top: 50px;
  margin-right: 0 !important;
}

.nav-item a {
  margin: 20px 15px;
  font-weight: 400px;
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-top: 50px;
  
}

/* footer styling */
.footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 0;
}
#display{
    margin-left: auto;
    list-style: none;
    border: none;
    }

#display h5{
    
    color: rgb(10, 65, 65) !important;
    font-weight: bolder;
    font-size: 1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#display li, h5{
    border: none;
    color: rgb(10, 65, 65) !important;
    font-weight: bold;
    font-size: 1.2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logo{
    position: relative;
    top: -30px;
    height: 20vh;
}
#copy{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: rgb(10, 65, 65) !important;
    font-size: 30px;
}
#copy a{
    text-decoration: none;
    color: rgb(10, 65, 65) !important;
}